<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd"
          xmlns="http://maven.apache.org/SETTINGS/1.1.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <servers>
        <server>
            <id>ol-3rd-party-libs</id>
            <username>public</username>
            <password>AP3UUPpoUv5HMRpNWwEXHKremER</password>
        </server>
        <server>
            <id>openlegacy-m2</id>
            <username>public</username>
            <password>AP3UUPpoUv5HMRpNWwEXHKremER</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>def</id>
            <repositories>
                <repository>
                    <id>openlegacy-m2</id>
                    <url>https://openlegacy.jfrog.io/openlegacy/ol-public</url>
                </repository>
                <repository>
                    <id>ol-3rd-party-libs</id>
                    <url>https://openlegacy.jfrog.io/openlegacy/ol-3rd-party-libs</url>
                </repository>
            </repositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>def</activeProfile>
    </activeProfiles>
</settings>